.menu {
    width: 0px;
    height: 100%;
    border-top: 2px solid rgb(46, 45, 45);
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
}

.menu.menu-open {
    width: 200px;
}

.menu a {
    display: block;
    color: #9d9d9d;
    white-space: nowrap;
    font-size: 20px;
}

.menu a :hover,
.menu .active a {
    color: white
}
.zoom {
    transition: transform .1s; /* Animation */
  }
  
  .zoom:hover {
     transition: 0.1s ease-in-out;
     transform: scale(1.1);
  }

  @media (max-width: 767px) {
    .menu.menu-open {
        width: 100px;
    }
  }